
html{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

h2, h4, p{
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    background-color: rgb(229, 239, 245)
}

button {
    background-color: rgb(192, 223, 52);
    color: #ffff;
    width: 75%;
    height: 38px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 65px;
}

.main-square{
    width: 600px;
    height: 350px;
    border: 3px solid black;
    border-radius: 5px;
}

.top-rectangle{
    width: 100%;
    height: 45%;
    background-color: #ffff;
}

.bottom-rectangle{
    width: 100%;
    height: 55%;
    background-color: #ffff;
}

.right-square{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgba(42, 178, 175, 0.856)
}

.left-square{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgb(42, 178, 175)
}

/*Design for top rectangle starts hear*/
.main-heading{
    color: rgb(42, 178, 175);
    position: relative;
    top: 10px;
    left: 15px;
}

.second-heading{
    color: rgb(192, 223, 52);
    position: relative;
    top: 25px;
    left: 15px;
}

.p-top-rectangle{
    color: rgb(152, 166, 189);
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 15px;
}

/*Design for bottom-left-square starts hear*/

.p1-left-square, .p2-left-square, .p3-left-square, span{
    color: #ffff;
    position: relative;
}

.p1-left-square{
    font-weight:bold;
    top: 25px;
    left: 25px;
}

.p2-left-square{
    top: 38px;
    left: 25px;
    color: rgba(229, 239, 245, 0.856);
    font-size: 14px;
}

.p3-left-square{
    top: 43px;
    left: 25px;
    font-size: 15px;

}

span{
    font-weight: bolder;
    font-size: 25px;
    color: #ffff;
}



